body{ margin: 0px; padding: 0px; background: rgb(244,246,246) }

.header-div {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    display: inline-flex;
    z-index: 100;
    background: rgb(244,246,246);
}

.title-div-exit-done {
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    display: flex;
    width: 85%;
    transition: width 1s;
    flex-direction: column;
    justify-content: center;
}

.title-div-exit-active {
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    display: flex;
    width: 70%;
    transition: width 1s;
    flex-direction: column;
    justify-content: center;
}

.title-div-enter-done {
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    display: flex;
    width: 70%;
    transition: width 1s;
    flex-direction: column;
    justify-content: center;
}

.title-div-enter-active  {
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    display: flex;
    width: 85%;
    transition: width 1s;
    flex-direction: column;
    justify-content: center;
}

.title-div-exit-done > span,
.title-div-enter-done > span,
.title-div-enter-active > span,
.title-div-exit-active > span {
    padding-left: 1.5rem;
}

.menu-div-exit-done {
    border: 1px solid black;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
    transition: width 1s;
    position: relative;
}

.menu-div-exit-active {
    border: 1px solid black;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
    transition: width 1s;
    position: relative;
}

.menu-div-enter-done {
    border: 1px solid black;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
    transition: width 1s;
    position: relative;
}

.menu-div-enter-active {
    border: 1px solid black;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
    transition: width 1s;
    position: relative;
}

.menu-div-exit-done > *, 
.menu-div-enter-done > *, 
.menu-div-enter-active > *, 
.menu-div-exit-active > * {
    margin-right: 1.5rem
} 

.content-wrapper-div {
    display: inline-flex;
    width: 100%;
    position: absolute;
    top: 5rem;
    right: 0;
}

.child-wrapper-div-exit-done {
    width: 85%;
    transition: width 1s;
}

.child-wrapper-div-exit-active {
    width: 70%;
    transition: width 1s; 
}

.child-wrapper-div-enter-done {
    width: 70%;
    transition: width 1s;
}

.child-wrapper-div-enter-active {
    width: 85%;
    transition: width 1s; 
}

.sidebar-div-exit-done {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 15%;
    transition: width 1s;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    padding-top: 1rem;
    margin-top: 0.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
}
.sidebar-div-exit-active {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 30%;
    transition: width 1s;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    padding-top: 1rem;
    margin-top: 0.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
}

.sidebar-div-enter-done {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 30%;
    transition: width 1s;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    padding-top: 1rem;
    margin-top: 0.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
}

.sidebar-div-enter-active {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 15%;
    transition: width 1s;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    padding-top: 1rem;
    margin-top: 0.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
}